@font-face {
  font-family: "VictorMono-Thin";
  src:
    url("./font/VictorMono-Thin.woff2") format("woff2"),
    url("./font/VictorMono-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
    --prmry-dark-bg-clr: #111;
    --scndry-dark-bg-clr: #565656;
    --hover-white-bg-clr: #dedede60;
    --active-white-bg-clr: #dededec0;
    --active-pink-bg-clr: #9D81BA;

    --prmry-white-color: #dedede;

    --gap-default-space: 10px;
    --gap-scndry-space: 15px;
    --gap-trtry-space: 20px;
    --gap-qtrnry-space: 30px;

    --min-default-len: 150px;

    --primary-font-size: 15px;
    --small-font-size: 13px;
}

html,
body {
    min-height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    color: var(--prmry-white-color);
    font-family: 'VictorMono-Thin', 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    display: grid;
    grid-template: 70px 80px repeat(auto-fit, minmax(var(--min-default-len), 1fr)) /
        minmax(125px, 0.43fr) repeat(auto-fit, minmax(var(--min-default-len), 1fr));
    grid-template-areas:
        'menu header header header'
        'menu navbar navbar navbar'
        'menu main main main'
        'menu main main main';
    gap: 3px;
}

path {
    fill: var(--prmry-white-color);
}

.thirty-px {
    width: 30px;
}

.forty-px {
    min-width: 40px;
    width: 40px;
}

.fifty-px {
    width: 50px;
}

.sixty-px {
    width: 60px;
}

header,
aside {
    background-color: var(--prmry-dark-bg-clr);
}

header {
    grid-area: header;
    min-width: fit-content;
    padding: 0 var(--gap-default-space);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > * {
    margin: var(--gap-default-space);
}

.header-logo:hover,
.header-search > label:hover,
.header-prof > a:nth-child(1):hover,
.main-nav-greet > a:hover,
.post-reaction > a > svg:hover {
    background-color: var(--hover-white-bg-clr);
    border-radius: 25%;
}

.header-logo:active,
.header-search > label:active,
.header-prof > a:nth-child(1):active,
.main-nav-greet > a:active,
.post-reaction > a > svg:active {
    background-color: var(--active-white-bg-clr);
    border-radius: 25%;
}

.header-search,
.header-prof,
.header-prof > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: var(--gap-default-space);
}

.header-search {
    min-width: 310px;
    width: 65%;
}

.header-search > label:hover {
    cursor: pointer;
}

.header-search > input {
    background-color: var(--scndry-dark-bg-clr);
    height: 40px;
    padding: 0 var(--gap-scndry-space);
    font-size: var(--primary-font-size);
    border-radius: 20px;

    flex: 1;
}

.header-search > input:hover {
    background-color: #dedede90;
}

.header-search > input:active {
    background-color: var(--active-white-bg-clr);
}

.header-search > input:focus {
    outline: 5px solid var(--prmry-white-color);
    box-shadow: 0 0 100px 10px var(--scndry-dark-bg-clr);
}

.header-prof > a {
    font-size: var(--primary-font-size);
}

aside,
.main-aside-menu > ul {
    display: flex;
    flex-direction: column;
}

aside {
    grid-area: menu;
    padding: var(--gap-default-space) 0 0 var(--gap-default-space);

    row-gap: var(--gap-qtrnry-space);
}

.main-aside-burger,
.main-aside-menu > ul > li > a {
    display: flex;
    align-items: center;
    column-gap: var(--gap-default-space);
}

.main-aside-burger {
    font-size: 20px;
}

.main-aside-menu > ul {
    row-gap: var(--gap-default-space);
    padding-right: var(--gap-default-space);
}

.menu-active {
    background-color: #dedede30;
}

.main-aside-menu > ul > li > a:not(.menu-active):hover,
.header-prof > a:nth-child(2):hover {
    background-color: var(--hover-white-bg-clr);
}

.main-aside-menu > ul > li > a:active,
.main-aside-menu > ul > li > a:not(.menu-active):active,
.header-prof > a:nth-child(2):active {
    background-color: var(--active-white-bg-clr);
}

nav {
    grid-area: navbar;
    min-width: fit-content;
    background-color: var(--scndry-dark-bg-clr);
    padding: var(--gap-default-space) var(--gap-trtry-space);
    
    display: flex;
    justify-content: space-between;
}

.main-nav-greet {
    display: flex;
    column-gap: var(--gap-default-space);
}

.main-nav-greet > a {
    margin: auto;
}

.greet-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greet-msg {
    font-size: var(--small-font-size);
}

.name-admin,
.name-admin > a {
    font-size: 18px;
}

.name-admin > a:hover,
.subsect-post-details:hover,
.post-reaction > a:hover,
.chat-box:hover,
.task-box:hover {
    text-decoration: underline;
}

.name-admin > a:active,
.subsect-post-details:active,
.post-reaction > a:active,
.chat-box:active,
.task-box:active {
    color: var(--active-pink-bg-clr);
    text-decoration: underline;
}

.main-nav-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: var(--gap-trtry-space);
}

.main-nav-btns > li > a {
    background-color: var(--prmry-dark-bg-clr);
    padding: var(--gap-default-space) var(--gap-scndry-space);
    font-size: var(--small-font-size);
    text-align: center;
    border: #fff 1px solid;
    border-radius: 25px;
    display: block;
}

.main-nav-btns > li > a:hover {
    background-color: #dedede00;
}

.main-nav-btns > li > a:active {
    background-color: var(--active-pink-bg-clr);
}

main {
    grid-area: main;
    background-color: #232323;
    min-width: 535px;
    padding: var(--gap-trtry-space);

    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(var(--min-default-len), 1fr));
    gap: var(--gap-trtry-space);
}

.main-sect-post,
.main-sect-proj {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-default-space);
}

.main-sect-post {
    grid-area: 1 / 1 / -1;
}

.main-sect-proj {
    grid-area: 1 / 2 / -1;
}

.main-sect-chat-task {
    grid-area: 1 / 3 / -1;
    row-gap: var(--gap-trtry-space);
}

.main-sect-post > h1,
.main-sect-proj > h1,
.main-sect-chat-task > h2 {
    font-size: var(--primary-font-size);
}

.subsect-post {
    row-gap: var(--gap-default-space);
    min-height: var(--min-default-len);
}

.subsect-post,
.container-chat,
.container-task {
    background-color: #181818;
    padding: var(--gap-default-space);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-chat {
    margin-bottom: var(--gap-qtrnry-space);
}

.main-sect-post > .subsect-post {
    border-left: 5px solid green;
}

.main-sect-proj > .subsect-post {
    border-left: 5px solid blue;
}

.subsect-post-details {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-default-space);
}

.subsect-post-details > h2 {
    font-size: 14px;
}

.subsect-post-details > h3,
.profile-chat > h3,
.task-title-ctgry > h3 {
    font-size: 12px;
}

.subsect-post-details > p,
.chat-box > p,
.task-title-ctgry > h4,
.task-box > p {
    font-size: var(--gap-default-space);
    line-height: 1.4;
}

.post-reaction {
    margin-left: auto;
    text-align: right;
}

.post-reaction > a {
    margin-left: 7px;
    
    display: inline-flex;
    align-items: center;
}

.post-reaction > a > svg {
    margin-right: 3px;
}

.main-sect-chat-task {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-default-space);
}

.chat-box,
.task-box {
    display: grid;
    grid-template-rows: repeat(auto-fit, 0.2fr);
}

.chat-box {
    row-gap: 5px;
}

.task-box {
    row-gap: var(--gap-default-space);
}

.chat-box:not(:nth-last-child(-n+1)),
.task-box:not(:nth-last-child(-n+1)) {
    padding-bottom: var(--gap-default-space);
    border-bottom: 1px solid var(--prmry-white-color);
}

.chat-box:not(:nth-last-child(n+3)),
.task-box:not(:nth-last-child(n+3)) {
    padding-top: var(--gap-default-space);
}

.profile-chat,
.task-title-ctgry {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: var(--gap-default-space);
}

.profile-chat > div,
.task-title-ctgry > h4 {
    margin-left: auto;
    text-align: right;
}